.header {
  /* position: absolute;
  top: 0;
  right: 0;
  background: white;
  backdrop-filter: blur(12px);
  border-bottom:1px solid #0B0B0B  ; */
  /* margin-top: -663px;
  margin-right: -500px; */
  position: absolute;
  top: 0;
  width: 100%;
  /* padding: 20px 40px; */
    background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  color: white;
}

.container {
  width: 1600px;
  height: 84px;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Brand */
.brand {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin-left: 220px;
}

.brandName {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #0B0B0B;
}

.brandSub {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* color: rgba(255, 255, 255, 0.6); */
  color: #c9a24d;
  font-weight: 800;
}



/* Navigation */
.nav {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-right: 80px;
}

/* Links */
.nav a {
  position: relative;
  /* required for ::after */
  font-size: 13px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  /* color: #0B0B0B; */
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover / Active */
.nav a:hover,
.nav a.active {
  color: #c9a24d;
;
}

/* Underline */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 1px;
  background: #c9a24d;
  transition: width 0.3s ease;
  font-weight: 600;
}

/* Show underline on hover */
.nav a:hover::after,
.nav a.active::after {
  width: 50%;
}

.nav a.cta::after {
  display: none;
}








/* CTA Button */
.cta {
  padding: 10px 18px;
  border: 1px solid #0B0B0B;
  border-radius: 30px;
  color: #0B0B0B !important;
  transition: all 0.3s ease;
}

.cta:hover {
  background: #a5a1a1;
  color: #000000 !important;
}