.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  z-index: 50;
  /* background: #0B0B0B; */
  background: black;
border-right: 1px solid rgba(201, 162, 77, 0.18);

}

/* Logo */

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 75px;
    position: absolute;

}

.logo img {
    height: 85px;
    margin: 5px 5px;
  width: auto;
  object-fit: contain;
    /* border: 2px solid black; */

}


.coordinates {
  display: flex;
  flex-direction: column;
  gap: 18px;
    margin-top: auto;
  margin-bottom: auto;

}

.coordBtn {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 11px;
  /* letter-spacing: 0.35em; */
  text-transform: uppercase;
  color: #FAFAF8;
  cursor: pointer;
  transition: all 0.3s ease;
    letter-spacing: 0.4em;

}

/* Hover / Active */
.coordBtn:hover,
.coordBtn.active {
  /* color: #6F7A85; */
  color: #c9a24d;
}

/* Optional underline indicator */
.coordBtn::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #FAFAF8;
  margin-top: 6px;
  transition: width 0.3s ease;
}

.coordBtn:hover::after,
.coordBtn.active::after {
  width: 50%;
}











/* Footer text */
.footer {
  font-size: 12px;
  letter-spacing: 1px;
  color: #FAFAF8;
  opacity: 0.6;
  font-size: 10px;

}
